<a href="https://colab.research.google.com/github/SayantikaFSU/LeetCodes/blob/main/HashTables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1 : Write a program that takes as input a set of words and returns groups of anagrams for those words. Each group must contain atleast two words.
***************************************

eg Input = ["debitcard","elvis","silent","badcredit","lives","freedom","listen","levis","money"]

Output =3 groups of anagrams [debitcard, badcredit],[elvis,lives,levis],[silent,listen]

In [17]:
#function to create the keys of the hash table
def sorted_string(s:str)->str:
    return "".join(sorted(s))

#Create a hash table with sorted string as the key and the words as values:
def anagram_hash_table(input_list:list)->dict:
    hash_table = {}
    for item in input_list:
        key = sorted_string(item)
        if key in hash_table:
            hash_table[key].append(item) # adding value when key exists
        else:
            hash_table[key] = [item] # adding value when key doesnot exists

    return hash_table

# required function:
def group_anagrams(input_list:list)->int:
    hash_table = anagram_hash_table(input_list)
    k=0
    for key,value in hash_table.items():
        if len(value)>1:
            print("Group",k+1,":")
            print(value)
            k+=1
        else:
          print('No group',value)
    return k

input_list = ["debitcard","elvis","silent","badcredit","lives","freedom","listen","levis","money"]
print("Anagram List",anagram_hash_table(input_list))
print("No. of Groups",group_anagrams(input_list))

Anagram List {'abcddeirt': ['debitcard', 'badcredit'], 'eilsv': ['elvis', 'lives', 'levis'], 'eilnst': ['silent', 'listen'], 'deefmor': ['freedom'], 'emnoy': ['money']}
Group 1 :
['debitcard', 'badcredit']
Group 2 :
['elvis', 'lives', 'levis']
Group 3 :
['silent', 'listen']
No group ['freedom']
No group ['money']
No. of Groups 3

Problem 2: Test for pallindromic permutations
************************************************
Pallindrome : a text that reads same forward and backward

* Heap's Algorithm for permuation: Recursive Format:
*****

In [2]:
# find permutations of a string duplicates allowed
def to_String(s:list)->str:
    return "".join(s)
L=[]
def permute(s:str,l:int,r:int):
    if l==r:
        v=to_String(s)
        #print(v)
        L.append(v)

    else:
        for i in range(l,r+1):
            s[l],s[i]=s[i],s[l] # swap
            permute(s,l+1,r)
            s[l],s[i]=s[i],s[l] # reverese swap

s="ABCD"
permute(list(s),0,len(s)-1)
print(L)

['ABCD', 'ABDC', 'ACBD', 'ACDB', 'ADCB', 'ADBC', 'BACD', 'BADC', 'BCAD', 'BCDA', 'BDCA', 'BDAC', 'CBAD', 'CBDA', 'CABD', 'CADB', 'CDAB', 'CDBA', 'DBCA', 'DBAC', 'DCBA', 'DCAB', 'DACB', 'DABC']

* using Hash Table:

In [3]:
# Creeate a hash table with item as the key and all the permutations as the value
input_list=["ABCD","12345",'madam']
hash_table={}
for item in input_list:
    #print(item)
    L=[]
    s=list(item)
    permute(s,0,len(s)-1) # find all permutation of item
    hash_table[item]=L
print(hash_table)

for key,value in hash_table.items():
    s1=key
    l1=value
    k=0 # counts how many matches the exact word
    for item in l1:
        if list(s1)==list(item):
            #print("True")
            k+=1
    if k>1: # because first item is always the word so always a match
        print("%s is pallindrome"%s1)
    else:
        print("%s is not pallindrome"%s1)

{'ABCD': ['ABCD', 'ABDC', 'ACBD', 'ACDB', 'ADCB', 'ADBC', 'BACD', 'BADC', 'BCAD', 'BCDA', 'BDCA', 'BDAC', 'CBAD', 'CBDA', 'CABD', 'CADB', 'CDAB', 'CDBA', 'DBCA', 'DBAC', 'DCBA', 'DCAB', 'DACB', 'DABC'], '12345': ['12345', '12354', '12435', '12453', '12543', '12534', '13245', '13254', '13425', '13452', '13542', '13524', '14325', '14352', '14235', '14253', '14523', '14532', '15342', '15324', '15432', '15423', '15243', '15234', '21345', '21354', '21435', '21453', '21543', '21534', '23145', '23154', '23415', '23451', '23541', '23514', '24315', '24351', '24135', '24153', '24513', '24531', '25341', '25314', '25431', '25413', '25143', '25134', '32145', '32154', '32415', '32451', '32541', '32514', '31245', '31254', '31425', '31452', '31542', '31524', '34125', '34152', '34215', '34251', '34521', '34512', '35142', '35124', '35412', '35421', '35241', '35214', '42315', '42351', '42135', '42153', '42513', '42531', '43215', '43251', '43125', '43152', '43512', '43521', '41325', '41352', '41235', '41253', '41523', '41532', '45312', '45321', '45132', '45123', '45213', '45231', '52341', '52314', '52431', '52413', '52143', '52134', '53241', '53214', '53421', '53412', '53142', '53124', '54321', '54312', '54231', '54213', '54123', '54132', '51342', '51324', '51432', '51423', '51243', '51234'], 'madam': ['madam', 'madma', 'maadm', 'maamd', 'mamad', 'mamda', 'mdaam', 'mdama', 'mdaam', 'mdama', 'mdmaa', 'mdmaa', 'madam', 'madma', 'maadm', 'maamd', 'mamad', 'mamda', 'mmdaa', 'mmdaa', 'mmada', 'mmaad', 'mmaad', 'mmada', 'amdam', 'amdma', 'amadm', 'amamd', 'ammad', 'ammda', 'admam', 'admma', 'adamm', 'adamm', 'admam', 'admma', 'aadmm', 'aadmm', 'aamdm', 'aammd', 'aammd', 'aamdm', 'amdam', 'amdma', 'amadm', 'amamd', 'ammad', 'ammda', 'damam', 'damma', 'daamm', 'daamm', 'damam', 'damma', 'dmaam', 'dmama', 'dmaam', 'dmama', 'dmmaa', 'dmmaa', 'damam', 'damma', 'daamm', 'daamm', 'damam', 'damma', 'dmmaa', 'dmmaa', 'dmama', 'dmaam', 'dmaam', 'dmama', 'aadmm', 'aadmm', 'aamdm', 'aammd', 'aammd', 'aamdm', 'adamm', 'adamm', 'admam', 'admma', 'admma', 'admam', 'amdam', 'amdma', 'amadm', 'amamd', 'ammad', 'ammda', 'amdma', 'amdam', 'ammda', 'ammad', 'amamd', 'amadm', 'madam', 'madma', 'maadm', 'maamd', 'mamad', 'mamda', 'mdaam', 'mdama', 'mdaam', 'mdama', 'mdmaa', 'mdmaa', 'madam', 'madma', 'maadm', 'maamd', 'mamad', 'mamda', 'mmdaa', 'mmdaa', 'mmada', 'mmaad', 'mmaad', 'mmada']}
ABCD is not pallindrome
12345 is not pallindrome
madam is pallindrome

* Without using Hash Table:

In [60]:
# reverse a string and check for equality
def is_string_pallindrome(s:str)->bool:
    s1=s[::-1]
    if s==s1:
        return True
    else:
        return False

s="madam"
print(is_string_pallindrome(s))

True

In [63]:
for item in input_list:
    value=is_string_pallindrome(item)
    print("is_string_pallindrome(%s)--%s"%(item,value))

is_string_pallindrome(ABCD)--False
is_string_pallindrome(12345)--False
is_string_pallindrome(madam)--True

Problem 3: Find the smallest subarray covering all the values
**********************************************************

Write a program which takes an array of strings and a set of strings and return the indices of the starting and ending index of the shortest subarray of the given array that 'covers'the set.

* eg

Input = [ apple, banana, apple, apple,dog, cat, apple, dog, banana, apple, cat, dog]

Set : [banana, cat]

Output : indices 8, 10 [banana, apple, cat]

In [21]:
input_list = [ 'apple', 'banana', 'apple', 'apple','dog', 'cat', 'apple', 'dog', 'banana', 'apple', 'cat', 'dog']
set_list=['banana', 'cat']


def find_shortest_subarray(input_list:list,set_list:list)->list:
    hash_table={}
    k=0
    for i in range(0, len(input_list)):
        for j in range(i, len(input_list)):
            if input_list[i]== set_list[0] and input_list[j]==set_list[1]:
                hash_table[k]=[i,j]
                k+=1
    l=[]
    for key,value in hash_table.items():
        l1=value
        l.append(l1[1]-l1[0])

    for key,value in hash_table.items():
        if value[1]-value[0]==min(l):
            return value

result_list=find_shortest_subarray(input_list,set_list)
print(result_list)
print(input_list[result_list[0]:result_list[1]+1])

[8, 10]
['banana', 'apple', 'cat']

Problem 4: Find the longest subarray with distinct entries
***********************************************************************************

In [19]:
input_list= [ 'apple', 'banana', 'apple', 'apple','dog', 'cat', 'apple', 'dog', 'banana', 'apple', 'cat', 'dog']

hash_table={}
k=0
n=len(input_list)

i=0
j=1
while i<n:
    while j<n:
      if input_list[i]!=input_list[j]:
        hash_table[k]=[i,j+1]
        j+=1
        k+=1
        print(input_list[i:j])
      else:
        break
    i=j
    j=i+1

print(hash_table)

l=[]
for key,value in hash_table.items():
    l1=value
    l.append(l1[1]-l1[0])
print(l)

print('\n\n\nthe list are as follows-->')
for key,value in hash_table.items():
    if value[1]-value[0]==max(l):
        print('indices',value)
        print(input_list[value[0]:value[1]])

['apple', 'banana']
['apple', 'dog']
['apple', 'dog', 'cat']
['apple', 'dog']
['apple', 'dog', 'banana']
['apple', 'cat']
['apple', 'cat', 'dog']
{0: [0, 2], 1: [3, 5], 2: [3, 6], 3: [6, 8], 4: [6, 9], 5: [9, 11], 6: [9, 12]}
[2, 2, 3, 2, 3, 2, 3]



the list are as follows-->
indices [3, 6]
['apple', 'dog', 'cat']
indices [6, 9]
['apple', 'dog', 'banana']
indices [9, 12]
['apple', 'cat', 'dog']

Problem 5: Collatz Conjecture
***************************************************************
Take any natural number. If it is odd, triple it and add one ; if it is even halve it. Repeat the process indefinitely. No matter what number you begin with you will eventually arrive at 1.

In [55]:
def collatz_(n:int)->list:
    l=[n]
    while n!=1:
        if n%2==0: # n=even
            m=n/2
        else: # n=odd
            m= (3*n)+1
        n=m
        l.append(n)

    return l

n=11
l1=collatz_(n)
print(l1)

[11, 34, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

In [62]:
input_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
hash_table={}
length=[]
for item in input_list:
    l1=collatz_(item)
    hash_table[item]=l1
    length.append(len(l1))
print(hash_table)
print(max(length))

print('\n \n the number which produces longest collatz list-->')
for key,value in hash_table.items():
    if len(value)==max(length):
        print(key,value)

{1: [1], 2: [2, 1.0], 3: [3, 10, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 4: [4, 2.0, 1.0], 5: [5, 16, 8.0, 4.0, 2.0, 1.0], 6: [6, 3.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 7: [7, 22, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 8: [8, 4.0, 2.0, 1.0], 9: [9, 28, 14.0, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 10: [10, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 11: [11, 34, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 12: [12, 6.0, 3.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 13: [13, 40, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 14: [14, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 15: [15, 46, 23.0, 70.0, 35.0, 106.0, 53.0, 160.0, 80.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 16: [16, 8.0, 4.0, 2.0, 1.0], 17: [17, 52, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 18: [18, 9.0, 28.0, 14.0, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 19: [19, 58, 29.0, 88.0, 44.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], 20: [20, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]}
21


 the number which produces longest collatz list-->
18 [18, 9.0, 28.0, 14.0, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]
19 [19, 58, 29.0, 88.0, 44.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

EXtra:
**************

In [63]:
# Add new key and value to hash_table
hash_table['new_key']=['q','w','e','r','t']
hash_table['new key2']=[]
hash_table.keys()
hash_table.values()

dict_values([[1], [2, 1.0], [3, 10, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [4, 2.0, 1.0], [5, 16, 8.0, 4.0, 2.0, 1.0], [6, 3.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [7, 22, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [8, 4.0, 2.0, 1.0], [9, 28, 14.0, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [10, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [11, 34, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [12, 6.0, 3.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [13, 40, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [14, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [15, 46, 23.0, 70.0, 35.0, 106.0, 53.0, 160.0, 80.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [16, 8.0, 4.0, 2.0, 1.0], [17, 52, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [18, 9.0, 28.0, 14.0, 7.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [19, 58, 29.0, 88.0, 44.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], [20, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0], ['q', 'w', 'e', 'r', 't'], []])